<div class="container mt-5" style="font-family: Arial, sans-serif; color: #333;">
    <h2 class="text-center" style="color: #2980b9; margin-bottom: 30px;">Acerca de Mí</h2>
    
    <div class="row">
        <div class="col-lg-12">
            <p><strong>Nombre:</strong> <span style="color: #2c3e50;">Angel Guillermo Vanegas Bernal</span></p>
            <p><strong>Estado:</strong> Nací en San Juan Del Río y actualmente estudio en <span style="color: #2c3e50;">la Universidad Tecnológica de San Juan Del Río</span>.</p>
            <p><strong>Me gusta:</strong> Mi principal gusto es el <span style="color: #2c3e50;">Fútbol</span>, además de disfrutar de los <span style="color: #2c3e50;">videojuegos</span>.</p>
            <p><strong>Estudios:</strong> Estoy cursando el 8vo cuatrimestre de la carrera de <span style="color: #2c3e50;">Ingeniería en Desarrollo y Gestión de Software</span>.</p>
            <p><strong>Metas:</strong> Mi principal objetivo es culminar mi carrera y encontrar una oportunidad laboral que me permita aplicar mis conocimientos en el desarrollo de software y gestión de proyectos.</p>
            <p><strong>Proyecto:</strong> Este proyecto fue desarrollado por mí utilizando <span style="color: #2c3e50;">Angular</span> y <span style="color: #2c3e50;">Firebase</span> para gestionar la base de datos en tiempo real.</p>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-lg-12">
            <h2 class="text-center"style="color: #2980b9;">Sobre Mi Experiencia</h2>
            <p>Me apasiona el desarrollo de software y me especializo en la creación de aplicaciones web modernas. En este proyecto, implementé <span style="color: #2c3e50;">Angular</span> y <span style="color: #2c3e50;">Firebase</span> para desarrollar una solución sólida y escalable, lo que me permitió demostrar mis habilidades en estas tecnologías.</p>
            <p>Mi meta es seguir ampliando mis conocimientos técnicos y crecer profesionalmente en este campo.</p>
        </div>
    </div>
</div>
